@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Work Sans", sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > h3{
    font-size: 3rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    color: rgb(19, 19, 19);
}
.section-description{
    color: rgb(114, 114, 114);
}
.banner img{
    margin-top: 50px;
    width: 100%;
}
.primary-btn{
    color: rgb(255, 255, 255);
    background: rgb(255, 144, 14);
    border-radius: 10px;
    font-size: 1.2rem;
    width: 180px;
    height: 64px;
    border: none;
}

main, footer{
    width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
}
.teams-container{
    display: flex;
    align-items: center;
    
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.section-title{
    font-size: 3rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.first{
    color: rgb(114, 114, 114);
}
.second{
    color: rgb(19, 19, 19);
}
.third{
    color: rgb(255, 144, 14);
}

.experience{
    display: flex;
    margin-top: 130px;
}
.experience-title{
    font-size: 3rem;
    width: 470px;
    padding-left: 25px;
}
.experience-name-title{
    color: rgb(19, 19, 19);
    font-size: 1.2rem;
}
.experience-description{
    color: rgb(114, 114, 114);
}
.experience-bg{
    background: rgb(255, 144, 14);
    width: 5px;
    height: 115px;
}
.experience-content{
    padding-right: 150px;
}
.experience-name{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 30px;
}

.facts-container{
    margin-top: 130px;
}
.facts-card{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.facts-card-award{
    box-sizing: border-box;
    border: 2px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-content: center;
}
.facts-card-state{
    color: rgb(66, 66, 66);
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
.facts-card-description{
    font-size:1.2rem ;
    color: rgb(114, 114, 114);
    font-weight: 600;
}
footer{
    text-align: center;
    margin-top: 150px;
    
}
.sponsors-img{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sponsors-footer{
    align-content: center;
    border-radius: 8px;
    background: rgb(255, 244, 231);
    width: 1440px;
    height: 100px;
    color: rgb(66, 66, 66);
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 10px;
}
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    main, footer{
        width: 100%;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content{
        padding: 20px;
    }
    .experience{
        flex-direction: column;
        margin-top: 50px;
    }
    .experience-name{
        
        padding: 20px;
    }
    .experience-bg{
        width: 5px;
        height: 160px;
    }
    .experience-title{
        width: 300px;
        padding-left: 15px;
        
    }
    .experience-img img{
        width: 100%;
    }
    .experience-content{
        padding: 0;
    }
    .facts-card{
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        align-items: center;
    }
    .facts-container{
        margin-top: 100px;
        padding: 20px;
    }
    .sponsors-img{
        flex-direction: column;
        gap: 20px;
    }
    .sponsors-footer{
        width: 100%;
        padding: 10px;   
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 30px;
    }
    main, footer{
        width: 100%;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-content{
        padding: 20px;
        margin: 0 auto;
    }
    .experience{
        flex-direction: column;
        margin-top: 50px;
    }
    .experience-img img{
        width: 100%;
    }
    .facts-container{
        margin-top: 100px;
        padding: 20px;
    }
    .facts-card{
        gap: 10px;
        align-items: center;
    }
    .sponsors-img{
        flex-direction: column;
        gap: 20px;
    }
    .sponsors-footer{
        width: 100%;
        padding: 10px;  
    }
}
